/* Default styles for desktops and laptops */
body {
    font-family: 'Kalam', cursive;
    background: url('media_bg.webp') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rgb(244, 236, 236);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(20, 19, 19, 0.1);
    max-width: 800px;
    padding: 20px;
    text-align: center;
    font-size: 1.875rem; /* 30px */
}

h1 {
    color: #ff00f2; /* Hot pink color */
    font-size: 2.5rem; /* 2.5em */
    margin-bottom: 20px;
    text-shadow: 0 0 5px #15080f, 0 0 10px #000000, 0 0 15px #1a1015, 0 0 20px #1a1518, 0 0 25px #0d0408;
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 5px #ff69b4, 0 0 10px #ff69b4, 0 0 15px #ff69b4, 0 0 20px #ff69b4, 0 0 25px #ff69b4;
    }
    to {
        text-shadow: 0 0 10px #ff69b4, 0 0 20px #ff69b4, 0 0 30px #ff69b4, 0 0 40px #ff69b4, 0 0 50px #ff69b4;
    }
}

.societies-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.societies-list li {
    background: #ff00f2;
    border-radius: 5px;
    color: rgb(3, 2, 2);
    margin: 10px 0;
    padding: 15px;
    transition: background 0.3s, transform 0.3s;
}

.societies-list li:hover {
    background: #b300a7; /* Darker pink */
    cursor: pointer;
    transform: scale(1.05);
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Kalam', cursive;
}

/* Media Queries for Responsive Font Sizing and Font Style */
@media (max-width: 768px) {
    body {
        font-family: 'Arial', sans-serif; /* Font for tablets and mobile devices */
    }

    .container {
        font-size: 1.5rem; /* Adjust container font size for smaller screens */
    }

    h1 {
        font-size: 2rem; /* Adjust heading size for smaller screens */
    }

    .societies-list li {
        font-size: 1rem; /* Adjust list item size for smaller screens */
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.75rem; /* Further adjust heading size for very small screens */
    }

    .societies-list li {
        font-size: 0.9rem; /* Further adjust list item size for very small screens */
    }
}
