body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #000;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.update-list {
    margin: 20px auto;
    max-width: 800px;
    list-style-type: none;
    padding: 0;
    flex-grow: 1;
}

.update-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.update-item .left {
    flex-shrink: 0;
    font-weight: bold;
    margin-right: 10px;
    white-space: nowrap;
}

.update-item .right {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.update-item .content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.update-item a {
    color: #007bff;
    text-decoration: none;
    margin-left: 10px;
    flex-shrink: 0;
    white-space: nowrap;
}

.update-item a:hover {
    text-decoration: underline;
}

/* Footer styles */
.our_ig {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

/* Responsive Design */
@media (max-width: 600px) {
    .update-item {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .update-item .right {
        width: 100%;
        justify-content: space-between;
        margin-top: 5px;
    }
    
    .update-item a {
        margin-left: 0;
    }
}
